// Colors
$scan-good: #0F861A;
$scan-bad:  #860F19;

// Typography
$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Default values
$default-border-radius : 10px;