<div>
    <h1>Request Page</h1>

    <div data-ng-show="!request && error">
        <div>Could not find request</div>
    </div>

    <div data-ng-show="request">
        <table>
            <thead>
                <tr>
                    <td>md5 Hash</td>
                    <td>Positives</td>
                    <td>Details</td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="scan in request.scans">
                    <td data-ng-bind="scan.md5"></td>
                    <td>
                        <span data-ng-show="scan.exists && scan.done"><span data-ng-bind="scan.positives"></span>/<span data-ng-bind="scan.total"></span></span>
                    </td>
                    <td>
                        <a data-ng-href="#/scan/{{scan._id}}" data-ng-show="scan.exists && scan.done">View details</a>
                        <span data-ng-show="scan.exists && !scan.done">Request pending</span>
                        <span data-ng-show="!scan.exists && scan.done">Not in VirusTotal DB</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>